<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- <servlet> <servlet-name>addRequest</servlet-name> <servlet-class>com.webapp.AddServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>addRequest</servlet-name> <url-pattern>/add</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>sqRequest</servlet-name> <servlet-class>com.webapp.SqServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>sqRequest</servlet-name> <url-pattern>/sq</url-pattern> 
		</servlet-mapping> -->



<!-- 	<servlet>
		<servlet-name>AddUrlRedirectRequest</servlet-name>
		<servlet-class>com.webapp.AddUrlRedirectServlet</servlet-class>
		<init-param>
			<param-name>Name</param-name>
			<param-value>Rocky</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUrlRedirectRequest</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sqRequestRedirect</servlet-name>
		<servlet-class>com.webapp.SqServletRedirect</servlet-class>
		<init-param>
			<param-name>Name</param-name>
			<param-value>Rocky Bhai...</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>sqRequestRedirect</servlet-name>
		<url-pattern>/sqRedirect</url-pattern>
	</servlet-mapping>


	<context-param>
		<param-name>Name</param-name>
		<param-value>Ram</param-value>
	</context-param>
	<context-param>
		<param-name>Phone</param-name>
		<param-value>Samsung</param-value>
	</context-param> -->
</web-app>